*{
	margin: 0 auto;
}

table{
border-collapse: collapse;
width: 100%;
border: 1px solid black;
}

th,td{
text-align: left;
padding: 8px;
border: 1px solid black;
}

tr:nth-child(even){background-color: #f2f2f2}

th{
background-color: rgb(41, 145, 149);
}


.container{
    width: 900px;
    background-color: #0D0D0D;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #444444;
}

h1,h2{
    text-align: center;
    padding: 20px;
    color: #DDDDDD;
    text-shadow: 2px 2px black;
}

img{
    border: solid 1px #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
    box-shadow: 10px 10px 5px #888888;
}

p{
    color: #DDDDDD;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    
}

form {
	text-align:center;
}
.inputs{
	text-align:center;
}
input[type=submit] {
    background-color: #AA2712;
    color: white;
    text-align: center;

    padding: 16px;
    font-size: 16px;
    margin: 0 5px; 
    border: none;
    cursor: pointer;
 	
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


input:hover{
    background-color: #299195;
}

input[type=submit]:disabled {
    background: #dddddd;
}
